.content-wrapper {
  margin-left: 16rem;
}

.card {
  animation: fadeInUp 0.4s ease-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.form-data-item {
  border-bottom: 1px solid rgb(243, 244, 246);
  padding-bottom: 1rem;

  &:last-child {
    border-bottom: 0;
    padding-bottom: 0;
  }
}

.badge-success {
  background-color: rgb(220, 252, 231);
  color: rgb(22, 101, 52);
  border: 1px solid rgb(187, 247, 208);
}

.badge-warning {
  background-color: rgb(254, 249, 195);
  color: rgb(133, 77, 14);
  border: 1px solid rgb(254, 240, 138);
}

.badge-error {
  background-color: rgb(254, 226, 226);
  color: rgb(153, 27, 27);
  border: 1px solid rgb(254, 202, 202);
}

.badge-info {
  background-color: rgb(224, 242, 254);
  color: rgb(30, 64, 175);
  border: 1px solid rgb(191, 219, 254);
}

pre {
  font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', monospace;
}
