<nav class="navbar text-white fixed top-0 z-50 bg-transparent transition-all duration-300">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        @for(data of routeItems; track data.label) {
          @if(data.children?.length) {
            <li>
              <details>
                <summary class="font-bold text-lg">{{ data.label }}</summary>
                <ul class="p-2 bg-base-100 w-40 z-1">
                  @for(child of data.children; track child.label) {
                    <li>
                      <a [routerLink]="child.path" class="font-bold text-lg">{{ child.label }}</a>
                    </li>
                  }
                </ul>
              </details>
            </li>
          } @else {
          <li>
            <a [routerLink]="data.path" class="font-bold text-lg">{{ data.label }}</a>
          </li>
          }
        }
      </ul>
    </div>
    <a class="btn btn-ghost text-2xl font-bold">daisyUI</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      @for(data of routeItems; track data.label) {
        @if(data.children?.length) {
          <li>
            <details>
              <summary class="font-bold text-lg">{{ data.label }}</summary>
              <ul class="p-2 bg-base-100 w-80 z-1">
                @for(child of data.children; track child.label) {
                  <li>
                    <a [routerLink]="child.path" class="font-bold text-lg">{{ child.label }}</a>
                  </li>
                }
              </ul>
            </details>
          </li>
        } @else {
        <li>
          <a [routerLink]="data.path" class="font-bold text-lg">{{ data.label }}</a>
        </li>
        }
      }
    </ul>
  </div>
  <div class="navbar-end">
    <a class="px-6 py-2 rounded-full bg-amber-600 border-2 border-amber-600 text-white font-semibold hover:bg-amber-700 hover:border-amber-700 transition-all duration-300">Make a Donation</a>
  </div>
</nav>